<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">
                Edit Details
            </h1>
            <button id="close-modal-x" hx-trigger="load" type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
        </div>
        <form hx-put="/api/users/" hx-target="#staticBackdropInit-here" hx-target-400="#get-400-error"
            hx-swap="innerHTML" data-script="
                            on htmx:afterRequest
                                log detail.xhr.status
                                log #staticBackdrop-here
                                if detail.xhr.status is 200
                                    log 'good job!'
                                    remove .show from .modal-backdrop
                                    remove .fade from .modal-backdrop
                                    remove .modal-backdrop from .modal-backdrop
                                    remove .modal-open from body
                                    set body.style.overflow to 'visible'
                            end
                ">
            <div class="modal-body">
                <div id="get-400-error"></div>
                <input type="text" name="id" th:value="${user.id}" id="id" class="form-control" hidden>
                <div class="row pt-2 g-3 align-items-center">
                    <div class="col-auto">
                        <label for="name" class="col-form-label">Name</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" name="name" th:value="${user.name}" id="name" class="form-control">
                    </div>
                </div>
                <div class="row pt-2 g-3 align-items-center">
                    <div class="col-auto">
                        <label for="email" class="col-form-label">Email</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" name="email" th:value="${user.email}" id="email" class="form-control">
                    </div>
                </div>
                <div class="row pt-2 g-3 align-items-center">
                    <div class="col-auto">
                        <label for="age" class="col-form-label">Age</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" name="age" th:value="${user.age}" id="age" class="form-control">
                    </div>
                </div>
                <div class="row pt-2 g-3 align-items-center">
                    <div class="col-auto">
                        <label for="location" class="col-form-label">Location</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" name="location" th:value="${user.location}" id="location"
                            class="form-control">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Edit</button>
            </div>
        </form>
    </div>
</div>