<div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Location</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${usersList}">
                        <td th:text="${user.id}"
                            hx-trigger="click"
                            hx:get="|/views/users/byId/${user.id}|"
                            hx-target="#user-details"
                        ></td>
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.age}"></td>
                        <td th:text="${user.location}"></td>
                        <td>
                            <button hx:get="|/views/users/edit/${user.id}|" hx-target="#staticBackdrop-here" hx-trigger="click" class="btn btn-primary"
                            data-bs-toggle="modal" data-bs-target="#staticBackdrop-here">
                                Edit
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>